body
{
    margin: 0;
    padding: 0;
    background: url(bgr.png);
    font-family: sans-serif;
}
.CreateBox
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 350px;
    min-height: 200px;
    background: #fff;
    border-radius: 10px;
    padding: 40px;
    box-sizing: border-box;
}
.avatar
{
    padding-top: 50px;
    margin: 0 auto;
    display: block;
    margin-bottom: 20px;
}
h3
{
    margin: 0;
    padding: 0 0 20px;
    color: #262626;
    text-align: center;
}
h5{
    margin: 0;
    padding: 0 0 20px;
    color: #262626;
    text-align: center;
}
.CreateBox input
{
    width: 100%;
    margin-bottom: 20px;
}

.CreateBox input[type="password"],
.CreateBox input[type="rePassword"],
.CreateBox input[type="fullname"],
.CreateBox input[type="email"],
.CreateBox input[type="birth"]
{
    border: none;
    border-bottom: 2px solid #262626;
    outline: none;
    height: 40px;
    color: #262626;
    background: transparent;
    font-size: 16px;
    padding-left: 20px;
    box-sizing: border-box;
}

.CreateBox input[type="password"]:focus,
.CreateBox input[type="rePassword"]:focus,
.CreateBox input[type="fullname"]:focus,
.CreateBox input[type="email"]:focus,
.CreateBox input[type="birth"]:focus
{
    border-bottom: 2px solid #f00;
}
.inputBox
{
    position: relative;
}
.CreateBox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    font-size: 16px;
    background: dodgerblue;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}